= render "tweets/modules/side_bar"
= render 'messages/chat_header'

.chat-title
  .chat-title__explanation
    %h1
      グループ:
      = @group.name
  .header-a
    .header-a__group
      %h2.header__group__name
        
      %p.header__group__member 
        メンバー :
        - @group.users.each do |user|
          = image_tag user.icon_image.url,class:"member-image"
          -# = user.nickname
    %p.header__group-edit
      = link_to 'グループ編集', edit_group_path(@group) 
  

.chat-main
  


  .message
    = render 'layouts/modules/notifications'
    = render @messages
  


  .forms
    = form_with model: [@group, @message] do |f|
      .form
        = f.text_field :content, class: 'form__text',    placeholder: 'メッセージの入力をしてください'
        .input
          = f.label :image, class: 'input__file' do
            = icon('fas', 'camera-retro', class: 'image')
            = f.file_field :image, class: 'file'
      = f.submit '送信', class: 'send-btn'