.tweet-header
  .tweet-header__serch
    %input.text_field
    %button submit
    -# = search_form_for @q, url: tweets_search_path do |f|
    -#   .form_box
    -#     = f.text_field :text_cont, class:'search-input',placeholder: "キーワードから探す"
    -#     = f.submit "検索", class:'search-btn'

  .tweet-header__post.grid-1

  .tweet-header__sign
    -if user_signed_in?
      .user_nav.grid-2
        = link_to "ホーム", root_path,class:"grid-1"
        -# = link_to "トップページに戻る", :back
        -# = link_to "マイページ", user_path(current_user.id),class:"grid-1"
        = link_to "ユーザー編集", edit_user_path(current_user.id),class:"grid-1"
        = link_to "ログアウト", destroy_user_session_path, method: :delete,class:"grid-1"
      
    -else
      .grid-2
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post' 
  
  



