#sidebar.nav-collapse.user-sidebar
  / sidebar menu start
  = link_to root_path do
    %p.management-title Connect

  -if user_signed_in?
    .my-image
      -if current_user.icon_image.url.nil?
      -else
        =link_to image_tag(current_user.icon_image.url)
    .my-name
      = current_user.nickname
  - else
    .my-image
    .my-name
      No name
    

  %ul#nav-accordion.sidebar-menu
    = link_to "#",class:"mm-title" do
      = icon('fas', 'pen-square', class: 'icon')
      Menu
  

    %li.mt
      -# = link_to root_path do
      -#   = icon('fas', 'pen-square', class: 'icon')
      -#   %span HOME

    %li.sub-menu
      = link_to  user_path(current_user.id) do
        = icon('fas', 'pen-square', class: 'icon')
        %span プロフィール
      
    %li.sub-menu
      = link_to "#" do
        = icon('fas', 'pen-square', class: 'icon')
        %span お気に入り(作成中)

    %li.sub-menu
      = link_to "#" do
        = icon('fas', 'pen-square', class: 'icon')
        %span フォローリスト(作成中)
    
   
    -# %li
    -#   %a.active{:href => "inbox.html"}
    -#     %i.fa.fa-envelope
    -#     %span Mail
    -#     %span.label.label-theme.pull-right.mail-info 3
  