= render "tweets/modules/header"
= render "tweets/modules/side_bar"
= render "tweets/modules/sub_bar"

.tweet-title
  .tweet-title__explanation
    %h1 HOME

.tweet-lists
  -@tweets.each do |tweet|
    .tweet-lists__list
      .user-tweet
        .user-tweet__image
          =link_to image_tag("gest.fujita.jpeg",class:"top-logo")
          -# = image_tag tweet.image.url
        .user-tweet__nickname
          = tweet.user.nickname
      .user-text
        =link_to tweet_path(tweet.id) do
          .user-text__first
            .date-time
              = tweet.created_at.strftime('%Y/%m/%d')
            .tweet-link
              = link_to '詳細', "/tweets/#{tweet.id}", method: :get 
              -if user_signed_in? && current_user.id == tweet.user_id
                = link_to '編集', "/tweets/#{tweet.id}/edit", method: :get
                = link_to '削除', "/tweets/#{tweet.id}", method: :delete 
        
        .user-text__second
          .user_name
            = simple_format tweet.text

        .user-text__third
          -# .kuchikomi
          -#   ■
          %i.fas.fa-heart
            = tweet.likes_count
          
     
  = paginate(@tweets)
           
            
