-# = render "tweets/modules/header"
-# = render "tweets/modules/sidebar"
-# = render "tweets/modules/subbar"

.review-lists
  = @nickname
  .review-lists__list
    .user_image
      = image_tag @tweet.image.url
      = simple_format(@tweet.text)
    
    .user_text
      .date-time
        = @tweet.created_at.strftime('%Y/%m/%d %H:%M')
      .user_name
        = @tweet.name
    .link
      -if user_signed_in? && current_user.id == @tweet.user_id
        = link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get
        = link_to '削除', "/tweets/#{@tweet.id}", method: :delete

.container
  -if current_user
    = form_with(model: [@tweet, @comment], local: true) do |f|
      = f.text_area :text, placeholder: "コメントする", rows: "2" 
      = f.submit "SEND"
  -else
    %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※


.comments
  %h4 コメント
  -if @comments
    -@comments.each do |comment|
      %p
        = link_to comment.user.nickname, "/users/#{comment.user_id}" 
        = comment.text
      .link
        -if user_signed_in? && current_user.id == comment.user_id 
          = link_to '削除', "/tweets/#{@tweet.id}/comments/#{comment.id}", method: :delete
