.wrapper
  = render "tweets/modules/side_bar"
  = render 'messages/side_bar'
  = render 'messages/chat_header'

.group-title
  .tweet-title__explanation
    %h1 chat
  
  .header
    %p.header__group-edit 
      = link_to new_group_path do
        = icon('fas', 'edit', class: 'icon')
