#device-sidebar.nav-collapse.device-new-sidebar
  %h1 Connect

  .my-image
    =image_tag("main.jpg",class:"top-logo")


    
  %ul#nav-accordion.device-sidebar-menu
    %li.mt
      テストNo1
      %br/
      = icon('fas', 'pen-square', class: 'icon')
      %span Email:test1@gmail.com
      %br/
      = icon('fas', 'pen-square', class: 'icon')
      %span Password:11111111
      %br/
      %br/
      %br/
      %br/

      
    %li.sub-menu
      テストNo2
      %br/
      = icon('fas', 'pen-square', class: 'icon')
      %span Email:test2@gmail.com
      %br/
      = icon('fas', 'pen-square', class: 'icon')
      %span Password:22222222
      %br/
      %br/
      %br/
      %br/

    %li.sub-menu
      テスト:管理者
      %br/
      = icon('fas', 'pen-square', class: 'icon')
      %span Email:admin@gmail.com
      %br/
      = icon('fas', 'pen-square', class: 'icon')
      %span Password:00000000
