.tweet-header
  .tweet-header__serch
    = search_form_for @q, url: tweets_search_path do |f|
      .form_box
        = f.text_field :text_cont, class:'search-input',placeholder: "キーワードから探す"
        = f.submit "検索", class:'search-btn'
  .tweet-header__post.grid-1
    = link_to new_tweet_path, class: "post" do
      = icon('fas', 'pen-square', class: 'icon')
      %span 投稿

  .tweet-header__sign
    -if user_signed_in?
      .user_nav.grid-2
        = link_to "マイページ", profile_user_path(current_user),class:"grid-1"
        -# = link_to "マイページ", user_path(current_user.id),class:"grid-1"
        = link_to "ログアウト", destroy_user_session_path, method: :delete,class:"grid-1"
      
    -else
      .grid-2
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post' 
  
  



