#sidebar.nav-collapse
  / sidebar menu start
  = link_to root_path do
    %p.management-title Connect

  -if user_signed_in?
    .my-image
      =link_to image_tag("gest.fujita.jpeg",class:"top-logo"),root_path
    .my-name
      = current_user.nickname
  - else
    .my-image
    .my-name
      No name
    

  %ul#nav-accordion.sidebar-menu
    = link_to root_path ,class:"mm-title" do
      -# = icon('fas', 'pen-square', class: 'icon')
      MENU
  

    %li.mt
      = link_to  root_path do
        = icon('fas', 'pen-square', class: 'icon')
        %span MY PAGE

    %li.sub-menu
      = link_to new_tweet_path do
        = icon('fas', 'pen-square', class: 'icon')
        %span TWEET
      
    %li.sub-menu
      = link_to root_path do
        = icon('fas', 'pen-square', class: 'icon')
        %span BOARD
    
    -# %li.sub-menu
    -#   = link_to root_path do
    -#     = icon('fas', 'pen-square', class: 'icon')
    -#     %span アイテム登録
      
    -# %li.sub-menu
    -#   = link_to root_path do
    -#     = icon('fas', 'pen-square', class: 'icon')
    -#     %span 予約管理
      
    -# %li
    -#   %a.active{:href => "inbox.html"}
    -#     %i.fa.fa-envelope
    -#     %span Mail
    -#     %span.label.label-theme.pull-right.mail-info 3
  