#sidebar.nav-collapse.tweet-sidebar
  / sidebar menu start
  = link_to root_path do
    %p.management-title Connect
 
    .my-image
      -if current_user.icon_image.url.nil?
      -else
        = image_tag(current_user.icon_image.url)
    .my-name
      = current_user.nickname
    
  %ul#nav-accordion.sidebar-menu
    = link_to "#",class:"mm-title" do
      -# = icon('fas', 'pen-square', class: 'icon')
      MENU
  

    %li.mt
      -# = link_to  user_path(current_user.id) do
      -#   %i.far.fa-user
      -#   %span MY PAGE

    %li.sub-menu
      = link_to root_path do
        = icon('fas', 'pen-square', class: 'icon')
        %span TWEET
      
    %li.sub-menu
      = link_to groups_path do
        %i.far.fa-comment
        %span CHAT
      
    -# %li
    -#   %a.active{:href => "inbox.html"}
    -#     %i.fa.fa-envelope
    -#     %span Mail
    -#     %span.label.label-theme.pull-right.mail-info 3
  