.subbar
  .subbar__nav
    .left-block
    .right-block
    .follow
      .follow__lists
   




  .ranking
    %p ランキング(いいね数多いツイート)
    - @all_ranks.each.with_index(1) do |tweet, i| 
      .ranking__num
        第
        = i
        位
        .ranking__num__user
          =link_to user_path(tweet.id) ,class:"ranking-contentsr" do
            -if tweet.user.icon_image.present?
              = image_tag tweet.user.icon_image.url
            - else
              .ranking-image
              
            = tweet.user.nickname
        = link_to tweet_path(tweet.id) do
          = tweet.text
        %br
    
    
