.subbar
  .subbar__nav
    = link_to  "投稿する", "/tweets/new", class: "post"
    -if user_signed_in?
      .user_nav.grid-6
        = current_user.nickname
        = link_to "マイページ", "/users/#{current_user.id}"
        = link_to "ログアウト", destroy_user_session_path, method: :delete
      

    -else
      .grid-6
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post' 
